{% extends 'base.html.twig' %}

{% block title %}FASO-DEV..::..WELCOME{% endblock %}

{% block body %}
  <div class="alert alert-success">
    <h1>Welcome to your dashboard</h1>
  </div>
{% endblock %}
